@{
    ViewData["Title"] = "SignIn";
}
@section Styles {
    <link rel="stylesheet" vite-href="~/app/identity/sign-in/page.tsx" asp-append-version="true" />
}
<div id="root">
</div>

@section ReactScript {
    <script type="module" vite-src="~/app/identity/sign-in/page.tsx" asp-append-version="true"></script>
}
