@{
    ViewData["Title"] = "Sign Up";
}
@section Styles {
    <link rel="stylesheet" vite-href="~/app/pages/identity/sign-up/page.tsx" asp-append-version="true" />
}
<div id="root">
</div>

@section ReactScript {
    <script type="module" vite-src="~/app/pages/identity/sign-up/page.tsx" asp-append-version="true"></script>
}